/* --- HEADER --- */
*{
  font-family: "Orbitron", sans-serif;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f3f0ea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
  margin-bottom: 5%;
}

header {
  margin-bottom: 10%;
}




nav img {
  width: 60px;
  height: auto;
}




.izq ul {
  display: grid;
  gap: 15% 10%;
  grid-template-columns: repeat(4, 30%);
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  /* Centra verticalmente los elementos */
  justify-items: center;
  /* Centra horizontalmente cada item */


}




.izq ul li a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.izq ul li a:hover {
  color: brown;
  /* Marrón */
  font-size: 18px;
  /* Aumenta ligeramente el tamaño al pasar el cursor */
}




.izq {
  width: 50%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  margin-left: 2%;
}




.der {
  width: 35%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 3%;
}




.paises select {
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 0.3em 1em;
  font-size: 16px;
}




.der input[type="text"] {
  width: 140px;
  height: 32px;
  font-size: 16px;
  padding: 0.3em 0.8em;
  border: 1px solid black;
  border-radius: 10px;
}




.der a img {
  width: 45px;
  height: 45px;
  margin-left: 1%;
}

.der a img:hover {
  width: 50px;
  height: 50px;
}

/* --- PRINCIPIO --- */
.principio {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2%;
  padding: 4% 8% 2% 8%;
}
H1{
  text-align: center;
  font-size: xx-large;
  margin: 2%;
}



.principio img {
  width: 75%;
}




.principio div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
}




.principio h2,
.principio p {
  text-align: center;
  font-size: large;
}




/* --- PRODUCTOS --- */
.productos1 {
  margin-top: 4%;
  padding: 2% 8%;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  gap: 5%;
  align-items: start;
}


.productos1 div {
  background-color: #f3f0ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  padding: 3%;
  border-radius: 16px;
  box-shadow: 0 2px 8px #0001;
}




.productos1 img {


  width: 100%;
  max-width: 180px;
  margin-bottom: 1%;
}




/* --- OPINIONES --- */
.opiniones {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin-top: 4%;
  padding: 2% 8%;
}




.opiniones div {
  width: 35%;
  background-color: #f3f0ea;
  border-radius: 16px;
  box-shadow: 0 2px 8px #0001;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}




.opiniones div img {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 1%;
}




.opiniones div h5 {
  font-weight: 100;
  font-size: large;
  margin: 1% 0 0.5% 0;
}




.opiniones div h6 {
  font-weight: 100;
  margin-top: 0.5%;
  font-size: large;
}
/* --- PRODUCTOS --- */

.PRODUCTOS{
  margin-top: 4%;
  padding: 2% 8%;
  display: grid;
  grid-template-columns: repeat(3, 30%); /* 3 columnas iguales */
  grid-template-rows: repeat(2, 50%);    /* 2 filas iguales */
  gap: 5%;
  align-items: stretch;
  justify-items: stretch;
}

.PRODUCTOS div {
  background-color: #f3f0ea;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 3%;
  border-radius: 16px;
  min-height: 350px;
  height: 100%;
}
.PRODUCTOS div img {
  width: 40%;
}
.PRODUCTOS div h2 {
  font-weight: bold;
  font-size: x-large;
  margin: 1% 0 0.5% 0;
}
.PRODUCTOS div h6 {
  font-weight: 100;
  margin-top: 0.5%;
  font-size: large;
} 
/* --- SUSCRIPCION --- */
.suscripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(20, 20, 20);
  color: white;
  margin-top: 6%;
  padding: 3% 8%;
  gap: 4%;
}




.suscripcion div {
  display: flex;
  flex-direction: column;
  gap: 1%;
  max-width: 400px;
}




.suscripcion input[type="text"] {
  width: 100%;
  height: 32px;
  font-size: 1rem;
  padding: 5px 13px;
  border-radius: 10px;
  border: none;
}




.suscripcion img {
  width: 120px;
  height: auto;
}

.suscripcionn {
  width: 100%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 8% 10%;

}

.suscripcionn div {
  background-color: rgba(150, 150, 150, 0.067);
  border-radius: 5%;
  width: 100%;
  border: 1px solid black;
  padding-bottom: 3%;
  padding: 3%;
  text-align: center;
}

.suscripcionn div img {
  width: 50%;
  height: auto;
  border: 1px solid black;
  border-radius: 5%;
  margin-top: 3%;
  margin-left: 5%;
}

.suscripcionn div ul li {
  text-decoration: none;
  list-style: none;
  margin: 1% 0;
  font-size: large;
}

.suscripcionn div a {
  display: grid;
  width: 25%;
  text-align: center;
  text-decoration: none;
  border-radius: 5%;
  margin-left: 37%;

}

.boton {
  margin: 1% 0;
  padding: 15%;
  background-color: #f3f0ea;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  border: 1px solid black;
}

.boton:hover {
  background-color: brown;
  color: white;
}

/*TRASFONDO*/
.trasfondo h1{  
  margin-left: 10%;
  width: 80%;
  background-image: url('imagenes/FondoTras.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-bottom: 10%;
  color: #fff;  
}
.trasfondo  div :first-child{
  text-align: center;
}

/* --- FOOTER --- */
footer {
  background-color: #f3f0ea;
  display: grid;
  grid-template-columns: 120px 26% 26% 26%;
  gap: 2%;
  align-items: start;
  padding: 2% 8%;
  margin-top: 4%;
}




.linea {
  grid-column: 1 / -1;
  width: 100%;
  height: 2px;
  border-bottom: 1px solid black;
  margin-bottom: 1%;
}




.logo {
  grid-row: 2 / span 2;
  width: 100px;
  height: auto;
  align-self: start;
}




.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}




.menu li {
  margin-bottom: 0.5%;
}




.menu li a {
  font-weight: 100;
  color: black;
  font-size: 16px;
  text-decoration: none;
}




.tituloMenu {
  color: black;
  font-size: 18px;
  margin-bottom: 0.5%;
}




.contacto {
  list-style: none;
  padding: 0;
  margin: 0;
}




.contacto li {
  margin-bottom: 0.5%;
}




.tituloContacto {
  color: black;
  font-size: 18px;
  margin-bottom: 0.5%;
}




.redes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.7%;
}




.redes h5 {
  color: black;
   font-size: 16px;
}

.redes a {
  padding-top: 3.5%;
}

.redes a img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5%;
}




.facebook {
  margin-left: 0.5%;
  margin-right: 0.5%;
}




.twitter {
  margin-left: 0.5%;
}
